nav {
    display: block;

    margin-bottom: -20px;

    $hamburger-size: 20px;

    h2 {
        display: block;
        width: $hamburger-size * 1.2; 
        height: $hamburger-size;
        text-indent: $hamburger-size * 2;
        overflow: hidden;

        position: absolute;
        right: 10px;
        top: 10px;
        margin: 0; padding: 0;

        &::before,
        &::after {
            content: " ";
            height: 3px;
            border-radius: 2px;
            background-color: white;
            position: absolute;
            top: 5px; left: 0; right: 0;
        }

        &::after {
            top: auto;
            bottom: 5px;
        }
    }

    ul {
        display: none;
    }

    &:focus-within {
        position: absolute; top: 0; left: 0; bottom: 0; right: 0;
        background-color: var(--bg);

        ul {
            display: block;
        }

        + #close-nav {
            position: fixed;
            top: 0; right: 0;
            width: $hamburger-size;
            height: $hamburger-size;
            background-color: red;
        }
    }    
   
}
