body > header {
    height: 20px;
}

.challenge-info {
    margin-bottom: -1em;
    margin-top: 5em;
    font-size: 1em;
    color: #808080;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22pt;
    max-width: 250px;
    line-height: 1.3em;
    color: white;
}

.post-info {
    color: var(--dim);
    font-style: italic;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article {
    color: #c1c1c1;

    h2 {
        font-size: 1.3em;
        margin-top: 1.4em;
        font-family:  Georgia, 'Times New Roman', Times, serif;;
        color: white;
    }
    
    li {
        margin-bottom: 0.3em;
    }

    font-size: 1.05em;

    p {

        &:first-of-type {
            margin-top: 1.5em;

            &::first-letter {
                font-family: Georgia, 'Times New Roman', Times, serif;
                display: block;
                font-size: 4.5em;
                float: left;
                margin-top: 0.3em;
                margin-bottom: 10px;
                margin-right: 0.1em;
                padding: 0;
                color: white;
            }            
        }

        line-height: 1.4em;
    }    
}
