body > header {
    height: 20px;
}

.challenge-info {
    margin-bottom: -0.2em;
    margin-top: 20px;
    font-size: 1em;
    color: #808080;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    max-width: 250px;
    line-height: 1.3em;
}

.post-info {
    color: var(--dim);
    font-style: italic;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article {
    color: v#c1c1c1;

    p {
        line-height: 1.4em;

        &::first-letter {
            font-family: Georgia, 'Times New Roman', Times, serif;
            display: block;
            font-size: 2.5em;
            float: left;
            margin-top: 0.2em;
            margin-bottom: 0;
            margin-right: 0.1em;
            padding: 0;
        }
    }    
}
