---
---

@import "tmp";
@import "hamburger";

:root {
    --bg: #1c1b22;
    --fg : #c0c0c0;
    --dim: #a0a0a0;
}

@mixin margin-reset {
    margin: 0; padding: 0;
}

html, body {
    @include margin-reset;
    height: 100%;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
    margin-top: 0;
    hyphens: auto;
    max-width: 900px;
}

header {
    ul {
        list-style-type: none;
        margin: 0;
    }
}

p {
    hyphens: auto;
}

a {
    color: white;
}

article a {
    background-color: #313144;
    color: white;
    text-decoration: none;
}

#site-logo {
    color: white;
    position: absolute; 
    top: 10px; left: 15px;
    font-size: 18pt;
    font-family: monospace;
    font-weight: bold; 
}

@import "post";
